---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Claus Guttesen"
	pubDate={new Date('November 22 2024')}
	heroImage="/img-0406-small.jpeg"
>
	<p>
	    My name is Claus, I live in the western part of Norway in Gloppen kommune. I love cross-country.
	</p>

	<p>
	    I work in Digitaliseringsdirektoratet automating manual processe, and installing and maintaining
		these.
		I am very fond of the programming language Rust, which I have used in private projects and at work.
	</p>

</Layout>
