---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Claus Guttesen"
	pubDate={new Date('November 22 2024')}
	heroImage="/img-0406-small.jpeg"
>
	<p>
	    Jeg hedder Claus, bor på det vakre Vestlandet i Gloppen kommune. Jeg elsker at gå langrend.
	</p>

	<p>
	    Jobber i Digitaliseringsdirektoratet med automatisering af manuelle rutiner, samt drift
		af disse løsninger.
		Jeg interesserer mig for programmeringssproget Rust, som jeg har brugt i både privat og
		på arbejde.
	</p>

</Layout>
