---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="dk">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>游 Hej, Rust-coder!</h1>
			<p>
				Velkommen til min blog om mine om- og genveje med Rust-programmering. Jeg
				er ikke den mest talentfulde koder, har ofte brug for at se p친 eksempler frem for
				at l칝se dokumentation for at komme i gang. S친 jeg har stor nytte af hj칝lpemidler
				som Claude, ChatGPT, Gemini.
			</p>
			<p>
			Ved hj칝lp af Claude har jeg skrevet en DNS-last-balancering. Hvis du af og til bruger en
			DNS-server p친 arbejde, kan du l칝gge den til listen over tilg칝ngelige servere i netv칝rks-indstillingerne.
			Men nogen gange svarer den ikke, eller andre svarer hurtigere og man f친r ikke det svar man 칮nsker.
			</p>
			<p>
		    Denne sp칮rger alle servere p친 samme tid, og man f친r enten et svar
			med relevant information, eller at ingen af serverne fandt det man spurgte efter. Koden til dns-load-balancer
		    finder du p친 <a href="https://github.com/kometen/dns-load-balancer">Github</a>.
			</p>
			<p>
			DNS-serverne er konfigureret i filen `config.toml`. Rediger denne til dine behov, konfigurer dine
			netv칝rks-indstillinger til at benytte 127.0.0.1 (localhost) som DNS-server du f친r altid et svar
		    selv om en eller flere servere ikke er tilg칝ngelige.
			</p>
			<p>
				Vigtig det er sjovt! Hvis du st친r fast s친 brug v칝rkt칮jer som Claude, de er meget
				hj칝lpsomme, is칝r hvis du kan give dem den rette information.
			</p>
			<p>
				Websiden er lavet med Astro rammev칝rket og ligger hos Cloudflare. Du finder Astro <a
				href="https://astro.build/">her</a> og Cloudflares <a
			    href="https://developers.cloudflare.com/pages/framework-guides/deploy-an-astro-site/">guide</a>
				hvordan du installerer Astro hos dem.
			</p>
		</main>
		<Footer />
	</body>
</html>
